

header {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    padding: 20px 35px;
    align-items: center;
}

header h1 {
    font-weight: bold;
    font-size: 28px;
}

header nav img {
    height: 50px;
    width: 50px;
}

.hero {
    display: flex;
    justify-content: center;
    background-color: blue;
    padding: 75px;
}

.mainNav {
    display: flex;
    background-color: red;
    justify-content: center;
    padding: 10px 20px;
}

.mainNav nav {
    width: 60%;

}

.mainNav nav ul {
    display: flex;
    justify-content: space-around;
}

main {
    height: 600px;
    background: black;
}

.portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: blue;
    padding: 20px;
    

}

.portfolio div {
    width: 300px;
    height: 300px;
    background-color: yellow;
    margin: 20px;
}

.contactForm {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.section-title {
    width: 50%;
    margin: 0 auto 35px auto ;
    text-align: center;
}

.contactForm div {
    
    width: 200px;
    text-align: center;
}

.contactForm form {
    display: block;
}

footer {
    display: flex;
    background-color: red;
    justify-content: center;
}



